<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>

<h1>Articles List</h1>
<p><a href="/articles/new">Add Article</a></p>
<table>
    <thead>
        <tr>
            <th>TItle</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.body %></td>
            <td>
                <%= link_to "Show", article_path(article) %>&nbsp;
                <%= link_to "Edit", edit_article_path(article) %>&nbsp;
                <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>&nbsp;
            </td>
        </tr>
        <% end %>

    </tbody>
</table>
